@charset "utf-8";

.ey-gif-player .ey-gif-preload {
	display: none;
}
.ey-gif-player .ey-gif-btn {
	position: absolute;
	background-color: rgba(255,255,255, .5) !important;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
